.loader {
	width: 60px;
	height: 60px;
	position: relative;
}
.name_effect_logo {
	animation-name: none!important;
}
.loader span {
	position: absolute;
	background: rgba(255,255,255,.1);
    box-shadow: 0 0 25px rgb(109, 142, 173);
	border: 1px solid rgba(255,255,255,.2);
	animation: animate 10s alternate infinite;
}
em 
{
	font-size: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    animation: animatetext 10s alternate infinite;
}
.loader span:nth-child(1) {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	animation-delay: -0.1s;
}
.loader span:nth-child(2) {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	animation-delay: -0.2s;
}
.loader span:nth-child(3) {
	top: 4px;
	left: 4px;
	bottom: 4px;
	right: 4px;
	animation-delay: -0.3s;
}
.loader span:nth-child(4) {
	top: 6px;
	left: 6px;
	bottom: 6px;
	right: 6px;
	animation-delay: -0.4s;
}
.loader span:nth-child(5) {
	top: 8px;
	left: 8px;
	bottom: 8px;
	right: 8px;
	animation-delay: -0.5s;
}
.loader span:nth-child(6) {
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	animation-delay: -0.6s;
}
.loader span:nth-child(7) {
	top: 12px;
	left: 12px;
	bottom: 12px;
	right: 12px;
	animation-delay: -0.7s;
}
.loader span:nth-child(8) {
	top: 14px;
	left: 14px;
	bottom: 14px;
	right: 14px;
	animation-delay: -0.8s;
}
@keyframes animatetext 
{
	0%
	{
		color: #A8EB12;
	}
	25%
	{
		color: #15C8E3;
	}
	50%
	{
		color: 	#E72C04;
	}
	75%
	{
		color: #6FFF00;
	}
	100%
	{
		color: 	#FF0059;
	}
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
		background: rgba(248,80,50,1);
	}
	5%
	{
		background: rgba(255,93,177,1);
	}
	10%
	{
		background: rgba(252,234,187,1);
	}
	15%
	{
		background: rgba(239,197,202,1);
	}
	20%
	{
		background: rgba(255,175,75,1);
	}
	25%
	{
		background: rgba(210,255,82,1);
	}
	30%
	{
		background: rgba(226,226,226,1);
	}
	35%
	{
		background: rgba(242,246,248,1);
	}
	40%
	{
		background: rgba(243,226,199,1);
	}
	45%
	{
		background: rgba(212,228,239,1);
	}
	50%
	{
		background: rgba(164,179,87,1);
	}
	55%
	{
		background: rgba(98,125,77,1);
	}
	60%
	{
		background: rgba(252,236,252,1);
	}
	65%
	{
		background: rgba(203,96,179,1);
	}
	70%
	{
		background: rgba(241,231,103,1);
	}
	75%
	{
		background: rgba(73,155,234,1);
	}
	80%
	{
		background: rgba(179,220,237,1);
	}
	85%
	{
		background: rgba(255,0,132,1);
	}
	90%
	{
		background: rgba(183,222,237,1);
	}
	95%
	{
		background: rgba(241,231,103,1);
	}
	100%
	{
		transform: rotate(720deg);
	}
}